[Unit]
Description=FindMyOctoPrint server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=findmyocto
Group=findmyocto
ExecStart=/home/findmyocto/venv/bin/findmyoctoprint

[Install]
WantedBy=multi-user.target